@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .markdown-content {
    h1 {
      @apply text-4xl font-extrabold text-gray-800 my-4;
    }
    h2 {
      @apply text-3xl font-extrabold text-gray-800 my-4;
    }
    h3 {
      @apply text-2xl font-extrabold text-gray-800 my-4;
    }
    h4 {
      @apply text-xl font-extrabold text-gray-800 mt-2 mb-4;
    }
    p {
      @apply text-gray-600 indent-8;
    }
    strong {
      @apply text-black;
    }
    code {
      @apply bg-gray-700 px-2 py-1;
    }
    pre code {
      @apply text-inherit bg-inherit;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}
